<fieldset>

  <div class="panel panel-border-wide">
    <p class="text"><%= t('.para_text') %></p>
    <ul class="list list-bullet">
      <li><%= t('.list_item') %></li>
      <li><%= t('.list_item1') %></li>
      <li><%= t('.list_item2') %></li>
    </ul>
  </div>

  <br/>

  <%= form_group_and_validation(form, :location_check) do %>
    <div class="form-group">

      <%= f.label :location_check_yes, class: 'block-label form-label' do %>
        <%= f.radio_button :location_check, :yes,
                           { checked: false, :class => "radio", id: "check_location_location_check_yes" } %>
        <%= t('.label_yes') %>
      <% end %>

      <%= f.label :location_check_no,class: 'block-label form-label' do %>
        <%= f.radio_button :location_check, :no,
                           { checked: false, :class => "radio", id: "check_location_location_check_no" } %>
        <%= t('.label_no') %>
      <% end %>

    </div>
  <% end %>

</fieldset>
