<span class="govuk-visually-hidden"><%= t('.table_summary') %></span>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--l">
    <%= t(".heading") %>
  </caption>
  <tbody class="govuk-table__body">
    <% form.enrollment.exemptions.each do |exemption| %>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <p><%= exemption.summary %></p>
      </th>
      <th scope="row" class="govuk-table__header">
        <p><%= exemption.code %></p>
      </th>
      <td class="govuk-table__cell govuk-table__cell--numeric">
        <p>
          <%=
            link_to(
              t(
                ".remove_link.text",
                hidden: content_tag(
                  'span',
                  t(
                    ".remove_link.hidden",
                    code: exemption.code
                  ),
                  class: "govuk-visually-hidden"
                )
              ).html_safe,
             enrollment_exemption_path(
               exemption,
               enrollment_id: form.model
             ),
             method: :delete
           )
          %>
        </p>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
