<fieldset>
  <legend class="visuallyhidden"><%= t('.legend') %></legend>

  <div class="notice">
    <i class="icon icon-important"><span class="visuallyhidden"><%= t('.text') %></span></i>
    <strong class="bold-small"><%= t('.panel') %></strong>
  </div>

  <br>
  <p class="panel panel-border-wide"><%= t('.para_text') %> <%= link_to 'Flood risk activities guidance', "TBD" %> </p>
  <br>

  <div class="form-group">
    <label class="block-label" for="location_check_yes">
      <%= f.radio_button :location_check, :yes, { checked: false, :class => "radio", id: "yes_option" } %>
      <%= t('.label') %>
    </label>

    <label class="block-label" for="location_check_no">
      <%= f.radio_button :location_check, :no, { checked: false, :class => "radio", id: "no_option" } %>
      <%= t '.label1' %>
    </label>
  </div>

</fieldset>
