<div class="govuk-box-highlight">
  <h1 class="bold-large"> <%= page_title t('.heading') %></h1>
  <p>
    <%= t('.para_text') %>
    <br />
    <strong class="heading-medium"><%= form.enrollment.reference_number %></strong>
  </p>
</div>

<p class="text"><%= t ".email_sent", email: form.email %></p>

<h2 class="heading-medium">
  <%= t('.heading_h2') %>
</h2>

<p class="text"><%= t('.para_text2') %></p>
<p class="text"><%= t('.para_text3') %></p>
<p class="text"><%= t('.para_text4') %></p>
<p class="text">
  <%= t('.activities_intro_html', link: link_to(t('.activities_url_text'), t('.activities_url'), target: "_blank")) %>
</p>

<h2 class="heading-medium">
  <%= t('.heading_h2_1') %>
</h2>

<p class="text"><%= t('.para_text7') %></p>
<p class="text"><%= t('.para_text8') %></p>
<p class="text"><%= t('.para_text9') %></p>

<br/>

<p class="text">
  <%= link_to t('.feedback_text'), t('.feedback_url'), class: 'link' %> <%= t('.feedback_helper') %>
</p>
