<fieldset>
  <legend class="visuallyhidden"><%= t(".legend") %></legend>

  <%= form_group_and_validation(form, :full_name) do -%>
    <div class="form-group">
      <label class="form-label" for="telephone"><%= t(".form_label") %>
        <span class="form-hint"><%= t(".form_hint") %></span>
      </label>
      <%= f.telephone_field :telephone_number, class: "form-control" %>
    </div>
  <% end %>

</fieldset>

