<fieldset>
  <legend class="visuallyhidden"><%= t(".legend") %></legend>

  <%= form_group_and_validation(form, :telephone_number) do -%>
    <div class="form-group">
      <%= f.label(:telephone_number, t(".form_label"), class: "form-label") do %>
        <span class="form-hint"><%= t(".form_hint") %></span>
      <% end %>
      <%= f.telephone_field :telephone_number, class: "form-control" %>
    </div>
  <% end %>

</fieldset>

