<div class="notice">
  <i class="icon icon-important">
    <span class="visuallyhidden"><%= t(".warning.heading") %></span>
  </i>
  <strong class="bold-small text"><%= t(".warning.text") %></strong>
</div>

<h2 class="heading-small"><%= t(".confirmation.heading")  %></h2>

<ul class="list list-bullet text">
  <li><%= t(".confirmation.list.one") %></li>
  <li><%= t(".confirmation.list.two") %></li>
</ul>

<h2 class="heading-small"><%= t(".use_of_info.header") %></h2>

<p class="text"><%= t(".use_of_info.text") %></p>

<p class="text">
  <%=
    t(
        ".privacy.text",
        link:
            link_to(t(".privacy.link"), enrollment_page_path(form.enrollment, id: "privacy_policy"), target: "_blank")
    ).html_safe
  %>
</p>
