<p class="panel panel-border-wide"><%= t(".clarification") %></p>

<br />

<fieldset>
  <legend class="visuallyhidden"><%= t(".legend") %></legend>

  <!-- Email address -->
  <div class="form-group">
    <%= f.label(:email_address, t(".email_address.label"), class: "form-label") %>
    <%= f.email_field(:email_address, class: "form-control") %>
  </div>

  <!-- Confirm email address -->
  <div class="form-group">
    <%= f.label(
          :email_address_confirmation,
          t(".email_address_confirmation.label"),
          class: "form-label"
        ) %>
    <%= f.email_field(:email_address_confirmation, class: "form-control") %>
  </div>

</fieldset>
