<p class="panel panel-border-wide text"><%= t(".clarification") %></p>
<fieldset>
  <legend class="visuallyhidden"><%= t(".legend") %></legend>

  <%= form_group_and_validation(form, :email_address) do -%>
      <%= f.label(:email_address, t(".email_address.label"), class: "form-label") %>
      <%= f.email_field(:email_address,
                        class: "form-control form-control-char-50") %>
  <% end %>

  <%= form_group_and_validation(form, :email_address_confirmation) do -%>
      <%= f.label(
            :email_address_confirmation,
            t(".email_address_confirmation.label"),
            class: "form-label"
          ) %>
      <%= f.email_field(:email_address_confirmation,
                        class: "form-control form-control-char-50") %>
  <% end %>

</fieldset>
