<span class="govuk-visually-hidden">
  <%= t(".legend") %>
</span>

<h1 class="govuk-heading-l">
  <%= t(".heading") %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= f.govuk_text_field :grid_reference,
      label: {
        text: t(".grid_reference.form_label"),
        size: "s"
      },
      width: "one-third",
      hint: {
        text:
          [
            t(".grid_reference.example_hint"),
            t(".grid_reference.clarification_hint")
          ].join("<br/>").html_safe
      }
    %>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          <%= t(".details.summary") %>
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>
          <%=
            t(".details.tool_text",
              link: link_to( t(".details.tool_link"), "http://gridreferencefinder.com/",
              rel: "external",
              target: "_blank")
            ).html_safe
          %>
        </p>
        <ol class="govuk-list govuk-list--number">
          <li><%= t(".details.bullet1") %></li>
          <li><%= t(".details.bullet2") %></li>
          <li><%= t(".details.bullet3") %></li>
        </ol>
      </div>
    </details>

    <% if form.require_dredging_length? %>
      <%= f.govuk_number_field :dredging_length,
        label: {
          text: t(".dredging_length.form_label"),
          size: "s"
        },
        width: 5,
        suffix_text: t(".dredging_length.units"),
        hint: {
          text:
            [
              t(".dredging_length.clarification_hint"),
              t(".dredging_length.units")
            ].join("<br/>").html_safe
        }
      %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <%= f.govuk_text_area :description,
      label: {
        text: t(".description.form_label"),
        size: "s"
      },
      hint: {
        text: t(".description.clarification_hint")
      },
      max_chars: 500
    %>
  </div>
</div>
