<fieldset>

  <legend class="visuallyhidden"><%= t('.legend') %></legend>

  <%= form_group_and_validation(form, :name) do %>
      <div class="form-group">
        <%= f.label :name, t('.label'), class: 'form-label' %>
        <p class="form-hint"><%= t('.para_text') %></p>
        <%= f.text_field :name, class:  'form-control' %>
      </div>
  <% end %>

</fieldset>

