<span class="govuk-visually-hidden">
  <%= t(".legend") %>
</span>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= f.govuk_text_field :full_name,
      label: {
        text: t(".heading"),
        tag: "h1",
        size: "l"
      },
      width: 20,
      hint: -> do %>
        <span class="govuk-heading-s">
          <%= t(".sub_heading", count: form.partner_count) %>
        </span>
        <span  class="govuk-body-m">
          <%= t(".full_name.label") %>
        </span>
        <br/>
        <%= t(".full_name.hint") %>
    <% end %>
  </div>
</div>
