<h2 class="heading-medium">
  <%= t('.subheading') %>
</h2>

<p class="text"><%= t('.call_to_action') %></p>

<div class="contact">
  <h3 class="heading-medium">Contact the Environment Agency</h3>
  <%= link_to "enquiries@environment-agency.gov.uk", "mailto:enquiries@environment-agency.gov.uk_url" %><br/>
  <%= t('.contact_tel') %><br/>
  <%= t('.contact_minicom') %><br/>
  <%= t('.contact_times') %>
</div>
