<%= content_for(:heading) { t(".heading") } %>

<%= render layout: 'step',  locals: { form: form, step: step } do |f| %>

  <div class="grid-row">
    <div class="column-two-thirds">

      <table summary="exemption-codes" role="presentation" class="exemption-table">
        <thead>
        <tr>
          <th class="exemption-description"><span class="heading-small"><%= t('.text') %></span></th>
          <th class="exemption-description"><span class="heading-small"><%= t('.text1') %></span></th>
          <th class="exemption-checkbox"><span class="heading-small"><%= t('.text2') %></span></th>
        </tr>
        </thead>
        <tbody>
        <% @form.exemptions.each do |a| %>
          <tr>
            <td class="exemption-description">
              <span class="bold-large"><%= a.code %></span>
            </td>
            <td class="exemption-description">
              <p><%= a.summary %></p>
            </td>
            <td class="exemption-select">
              <label class="form-checkbox" for="checkbox-<%= a.code %>">
                <%= f.radio_button 'add_exemptions_id',
                                   a.id,
                                   checked: false,
                                   id: "a"
                %>
                <%= a.display %>
              </label>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>


