<%= content_for(:heading) { t(".heading") } %>

<%= render layout: 'step',  locals: { form: form, step: step } do |f| %>
  <div class="grid-row">
  <div class="column-two-thirds">
      <fieldset>
        <legend class="visuallyhidden"><%= t('.legend') %></legend>

        <!-- Email address -->
        <div class="form-group">
          <label class="form-label" for="email"><%= t('.label') %></label>
          <p class="form-hint"><%= t('.para_text') %></p>
          <%= f.text_field 'email_address', class:  'form-control' %>

        </div>

        <!-- Confirm email address -->
        <div class="form-group">
          <label class="form-label" for="confirm-email"><%= t('.label1') %></label>
          <%= f.text_field 'email_address_confirmation', class:  'form-control' %>

        </div>
      </fieldset>

    <% end %>
  </div>
</div>


