<%= content_for(:heading) { t(".heading") } %>

<%= render layout: 'step',  locals: { form: form, step: step } do |f| %>
  <div class="grid-row">
    <div class="column-two-thirds">
      <fieldset>
        <legend class="visuallyhidden"><%= t('.legend') %></legend>

        <div class="form-group">
          <label class="block-label" for="contact_yes"><%= t('.label') %></label>
          <label class="block-label" for="contact_no"><%= t('.label1') %></label>
        </div>

      </fieldset>
    </div>
  </div>
<% end %>
