<%= content_for(:heading) { t(".heading") } %>

<%= render layout: 'step', locals: { form: form, step: step } do |f| %>

  <div class="panel panel-border-wide">
    <p><%= t('.para_text') %></p>
  </div>

  <table class="check-your-answers">
    <thead>
    <th colspan="3">
      <h2 class="heading-medium">
        Exemption details
      </h2>
    </th>
    </thead>
    <tbody>

    <tr>
      <td>
        <span class="heading-large"><%= t('.text') %></span>
      </td>
      <td>
        <p><%= t('.para_text1') %></p>
      </td>
      <td class="change-answer">
        <%#= link_to 'Change Change exemption 4', add_exemptions_url(@enrollment) %>
      </td>
    </tr>

    <tr>
      <td>
        <span class="heading-large"><%= t('.text1') %></span>
      </td>
      <td>
        <p><%= t('.para_text2') %></p>
      </td>
      <td class="change-answer">
        <%#= link_to 'Change Change exemption 8', add_exemptions_url(@enrollment) %>
      </td>
    </tr>

    </tbody>
  </table>

  <br>
  <br>

  <div class="form-group">
    <%#= link_to 'Add another exemption', add_exemptions_url(@enrollment) %>
  </div>

<% end %>


