<%= render "flood_risk_engine/enrollments/back_link", form: form %>

<%= form_for form,
             as: step,
             url: enrollment_step_path(form.enrollment, step),
             method: :patch,
             class: 'form' do |f| %>

  <h1 class="heading-large">
    <%= t(".heading") %>
  </h1>

  <p class="panel panel-border-wide">
    <%= t(".subheading") %>
  </p>

  <h2 class="heading-medium">
    <%= t(".table_heading") %>
  </h2>

  <table class="check-your-answers" summary="<%= t('.table_summary') %>">
    <tbody>
      <% form.rows.each do |row| %>
        <tr data-row="<%= row.name %>">
          <th>
            <%= row.title %>
          </th>
          <td>
            <%= row.value %>
          </td>
          <td class="change-answer">
            <% include_change_link = true # remove this when we do the story about adding change links %>
            <% if row.change_url.present? && include_change_link  %>
              <%= link_to(row.change_url) do %>
                <%= t(".change_link")%>
                <span class="visuallyhidden">
                  <%= row.change_link_suffix %>
                </span>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br/>

  <div class="form-group">
    <%=
      f.submit(
        step_t(step, ".continue",  default: t("global.continue")),
        class: "button"
      )
    %>
  </div>
<% end %>
