<%= content_for(:heading) { t(".heading") } %>

<%= render layout: 'step', locals: { form: form, step: step } do |f| %>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="text">
        <h1 class="form-title heading-large" id="groupLabel">
          <%= set_page_title t('.heading') %>
        </h1>
      </header>

      <div class="heading-with-border">
        <img src="/public/images/icon-important.png" alt="Important notice" class="inline icon-important">
        <p class="bold-small inline"><%= t('.para_text') %></p>
      </div>
      <br>

      <p><%= t('.para_text1') %></p>

      <ul class="list-bullet">
        <li><%= t('.list_item') %></li>
        <li><%= t('.list_item1') %></li>
      </ul>

      <br>
      <p class=""><%= t('.para_text2') %> <%#TODO= link_to 'conditions', declaration_conditions_page_url(@enrollment) %> <%= t('.para_text3') %></p>
      <p class=""><%= t('.para_text4') %> <%#TODO= link_to 'privacy policy', privacypolicy_url(@enrollment) %> <%= t('.para_text5') %></p>
      <br>

    </div>
  </div>
<% end %>

