<%= content_for(:heading) { t(".heading") } %>

<%= render layout: 'step', locals: { form: form, step: step } do |f| %>

  <div class="grid-row">
    <div class="column-two-thirds">

      <header class="text">
        <h1 class="form-title heading-large" id="groupLabel">
          <%= set_page_title t('.heading') %>
        </h1>
      </header>


      <fieldset>
        <legend class="visuallyhidden"><%= t('.legend') %></legend>

        <!-- Grid reference -->
        <div class="form-group">
          <label class="form-label" for="grid-reference"><%= t('.label') %></label>
          <p class="form-hint"><%= t('.para_text') %></p>
          <%= f.text_field 'grid_reference', class:  'form-control' %>

        </div>

        <!-- What is a grid reference? -->
        <details>
          <summary><span class="summary"><%= t('.text') %></span></summary>
          <div class="panel panel-border-narrow">
            <p><%= t('.para_text1') %></p>
            <p><%= t('.para_text2') %></p>
          </div>
        </details>

        <!-- Find grid reference -->
        <details style="padding-bottom: 18px;">
          <summary><span class="summary"><%= t('.text1') %></span></summary>
          <div class="panel panel-border-narrow">
            <p><%= t('.para_text3') %></p>
            <p><%= t('.para_text4') %> <%= link_to 'find a grid reference service.',' #_url(@enrollment)' %> </p>
          </div>
        </details>

      </fieldset>

    </div>
  </div>

<% end %>


