<%= content_for(:heading) { t(".heading") } %>

<p class="panel-indent"><%= t '.summary' %></p>

<%  @form.review_data_sections.each_with_index do |review_data,i|  %>
  <table summary="check-details-summary-<%= i %>"
         class="summary-table" role="presentation"
         id="<%= %[#{review_table_id(review_data)}-#{i}] %>"
         caption="summary of registration details">
    <tbody>

    <tr role="row">
      <th colspan="3" class="bold-small" role="columnheader"><%= review_data.heading %></th>
    </tr>

    <% review_data.rows.each do |row| %>
      <tr>
        <%= render partial: 'shared/review_data_column',
                   locals: { row: row, add_change_this_link: true, enrollment: @enrollment } %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
