<%= render 'back_link', form: form %>

<div class="grid-row">
  <div class="column-two-thirds">

    <header class="text">
      <h1 class="form-title heading-large" id="groupLabel">
        <%= page_title(step_t(step, ".heading")) %>
      </h1>
    </header>

    <%= render 'flood_risk_engine/enrollments/validation_errors', form: form %>

    <% # Using 'as:' changes the name of the fields in the form from eg
       #   name="flood_risk_engine_steps_step1[field1]"
       # to
       #   name="step1[dummy_boolean]"
       # which is much clearer
    %>

    <% form_url = form.url || enrollment_step_path(form.enrollment, step) %>

    <%= form_for form,
                 as: step,
                 url: form_url,
                 method: :patch,
                 class: 'form' do |f| %>

      <%= render step.to_s, form: form, step: step, f: f %>

      <div class="form-group">
        <%=
          f.submit(
            step_t(step, ".continue",  default: t("global.continue")),
            class: "button"
          )
        %>
      </div>
    <% end %>
  </div>
</div>
