<%= link_to(
        "Back",
        enrollment_step_path(form.enrollment, form.enrollment.previous_step),
        class: "back-link"
    ) if form.enrollment.can?(:go_back)
%>

<div class="grid-row">
  <div class="column-two-thirds">

    <%= render(
          "flood_risk_engine/enrollments/header",
          title_text: t("flood_risk_engine.enrollments.steps.#{step}.heading")
        )
    %>
    <%= render "flood_risk_engine/enrollments/validation_errors", form: form %>

<% # Using 'as:' changes the name of the fields in the form from eg
   #   name="flood_risk_engine_steps_step1[field1]"
   # to
   #   name="step1[dummy_boolean]"
   # which is much clearer
%>
<%= form_for form,
             as: step,
             url: enrollment_step_path(form.enrollment, step),
             method: :patch,
             class: "form" do |f| %>

      <%= render step.to_s, form: form, step: step, f: f %>

      <div class="form-group">
        <%=
          f.submit(
            step_t(step, ".continue",  default: t("global.continue")),
            class: "button"
          )
        %>
      </div>
    <% end %>

  </div>
</div>
