<%= content_for(:heading) { t(".heading") } %>

<%= render layout: 'step',  locals: { form: form, step: step } do |f| %>

  <div class="grid-row">

    <div class="column-two-thirds">
      <p><%= t('.para_text') %></p>

      <div class="form-group">
        <fieldset>
          <%=  f.label :local_authorityoption_label, for: 'local_authority', :class => 'block-label' do %>
            <%= f.radio_button :business_type, 'local_authority', checked: false, id: 'local_authority' %>
            <%= t 'local_authority_option' %>
          <% end %>

          <%=  f.label :limited_companyoption_label, for: 'limited_company', :class => 'block-label' do %>
            <%= f.radio_button :business_type, 'limited_company', checked: false, id: 'limited_company' %>
            <%= t 'limited_company_option' %>
          <% end %>

          <%=  f.label :limited_liabilityoption_label, for: 'limited_liability', :class => 'block-label' do %>
            <%= f.radio_button :business_type, 'limited_liability', checked: false, id: 'limited_liability' %>
            <%= t 'limited_liability_option' %>
          <% end %>

          <%=  f.label :individualoption_label, for: 'individual', :class => 'block-label' do %>
            <%= f.radio_button :business_type, 'individual', checked: false, id: 'individual' %>
            <%= t 'individual_option' %>
          <% end %>

          <%=  f.label :partnershipoption_label, for: 'partnership', :class => 'block-label' do %>
            <%= f.radio_button :business_type, 'partnership', checked: false, id: 'partnership' %>
            <%= t 'partnership_option' %>
          <% end %>

          <%=  f.label :otheroption_label, for: 'other', :class => 'block-label' do %>
            <%= f.radio_button :business_type, 'other', checked: false, id: 'other' %>
            <%= t 'other_option' %>
          <% end %>

          <%=  f.label :not_knownoption_label, for: 'not_known', :class => 'block-label' do %>
            <%= f.radio_button :business_type, 'not_known', checked: false, id: 'not_known' %>
            <%= t 'not_known_option' %>
          <% end %>
        </fieldset>
      </div>
    </div>
  </div>
<% end %>
