<div class="text">
  <%= form_for(@registration_complete_form) do |f| %>
    <%= render("flood_risk_engine/shared/errors", object: @registration_complete_form) %>

    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title"> <%= page_title t(".heading") %>
            <br />
            <span class="govuk-panel__body"><%= t(".sub_heading") %></span>
          </h1>
          <div class="govuk-panel__body">
            <%= t(".reference") %><br />
            <strong>
              <span id="reg_identifier"><%= @registration_complete_form.reference_number %></span>
            </strong>
          </div>
        </div>

        <p class="govuk-body"><%= t ".email_sent", email: @registration_complete_form.email %></p>

        <p class="govuk-body"> <%= link_to t(".another_exemption_text"), root_url %> </p>

        <h2 class="govuk-heading-m"><%= t(".heading_h2") %></h2>

        <p class="govuk-body"><%= t(".para_text2") %></p>

        <div class="panel panel-border-wide">
          <p class="govuk-body"><%= t(".para_text3") %></p>
        </div>

        <h3 class="govuk-heading-s"><%= t(".heading_h3") %></h3>
        <p class="govuk-body"><%= t(".para_text4") %></p>

        <h3 class="govuk-heading-s"><%= t(".heading_h3_1") %></h3>

        <p class="govuk-body">
          <%= t(".activities_intro_html", link: link_to(t(".activities_url_text"), t(".activities_url"), target: "_blank")) %>
        </p>

        <h2 class="govuk-heading-m"><%= t(".heading_h2_1") %></h2>

        <p class="govuk-body"><%= t(".para_text7") %></p>
        <p class="govuk-body"><%= t(".para_text8") %></p>

        <p class="govuk-body">
          <%= link_to t(".feedback_text"), FloodRiskEngine.feedback_page_url %>
          <%= t(".feedback_helper") %>
        </p>

      </div>
    </div>
  <% end %>
</div>
