<div class="text">
  <%= form_for(@contact_email_form) do |f| %>
    <%= render("flood_risk_engine/shared/errors", object: @contact_email_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <%= hidden_field_tag :token, @contact_email_form.token %>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
