
<p>
  <span class="postcode-prefix"><%= t(".postcode.prefix") %></span>
  <span class="visuallyhidden"><%= t(".postcode.separator") %></span>
  <span class="postcode"><%= form.postcode %></span>
  <%= link_to form.t('.change'),
              enrollment_step_path(form.enrollment, form.enrollment.previous_step),
              class: 'change-postcode-button'
  %>
</p>

<label class="form-label" for="address_match_selection">
  <%= form.t('.select_from_list_label') %>
</label>

<fieldset>
  <legend class="visuallyhidden"><%= t('flood_risk_engine.shared.address.legend') %></legend>
  <%= form_group_and_validation(form, :uprn) do %>
    <%= f.select(
          :uprn,
          options_for_select( form.address_list.collect { |a| [ a[:moniker], a[:uprn] ] }),
          {
            include_blank: form.t('.num_addresses_found', num:  form.address_list.count)
          },
          {
            class: 'form-control form-control-select form-control-char-auto',
            id: 'address_match_selection'
          }
        )
    %>
  <% end %>
</fieldset>

<p>
  <%=
    link_to(
      form.t('.manual_entry'),
      new_address_path(
        enrollment: form.enrollment,
        addressable: addressable,
        postcode: form.postcode,
        address_type: address_type,
        step_back_to_postcode: true
      ),
      class: 'change-postcode-button'
    )
  %>
</p>
