<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-visually-hidden">
      <%= t(".legend") %>
    </span>
    <%= f.govuk_select :uprn,
      options_for_select( form.temp_addresses.collect { |a| [ a["address"], a["uprn"] ] }),
      options: {
        include_blank: form.t('.num_addresses_found', num:  form.temp_addresses.count)
      },
      label: {
        text: t(
          "flood_risk_engine.enrollments.steps.#{step}.heading",
          local_assigns[:heading_opts] || {}),
        tag: "h1",
        size: "l"
      },
      hint: -> do %>
        <p class="govuk-body">
          <%= t(".postcode.prefix") %>
          <br/>
          <span class="postcode govuk-!-font-weight-bold">
            <%= form.postcode %>
          </span>
          <%= link_to form.t('.change'),
                      enrollment_step_path(form.enrollment, form.enrollment.previous_step)
          %>
        </p>
    <% end %>
  </div>
</div>

<p class="govuk-body">
  <%=
    link_to(
      form.t('.manual_entry'),
      new_address_path(
        enrollment: form.enrollment,
        addressable: addressable,
        postcode: form.postcode,
        address_type: address_type,
        step_back_to_postcode: true
      )
    )
  %>
</p>
