<fieldset>
  <legend class="visuallyhidden"><%= t(".#{step}.legend") %></legend>
  <%= form_group_and_validation(form, :name) do %>
    <%= f.label :name, t(".#{step}.label"), class: 'form-label' %>
    <% if I18n.exists?( "flood_risk_engine.shared.organisation_name.#{step}.hint") %>
      <span class="form-hint"><%= t(".#{step}.hint") %></span>
    <% end %>
    <%= f.text_field :name, class: 'form-control form-control-char-50' %>
  <% end %>
</fieldset>

