<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-visually-hidden">
      <%= t(".legend") %>
    </span>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= f.govuk_text_field :postcode,
          label: {
            text: t(
              "flood_risk_engine.enrollments.steps.#{step}.heading",
              local_assigns[:heading_opts] || {}
            ),
            tag: "h1",
            size: "l"
          },
          width: 5,
          hint: -> do %>
            <span  class="govuk-body-m">
              <%= t(".label") %>
            </span>
            <br/>
            <%= t(".hint") %>
        <% end %>
      </div>
    </div>

    <%= f.govuk_submit step_t(step, ".continue",  default: t("global.continue")) %>

    <% if(form.manual_entry_enabled?) %>
      <p class="govuk-body">
        <%= link_to( t('flood_risk_engine.enrollments.addresses.manual_entry'),
                     new_address_path( enrollment: form.enrollment,
                                       addressable: addressable,
                                       postcode: form.postcode,
                                       address_type: address_type,
                                       step_back_to_postcode: false,
                                       target_step: form.target_step
                     )
            )
        %>
      </p>
    <% end  %>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <p class="govuk-body-s" id="os-notice">
      <%=
        t(
          ".os_notice.text_html",
          link: link_to(
            t(".os_notice.url_text"),
            enrollment_page_path(form.enrollment, id: "os_places_terms"),
            target: "_blank"
          )
        )
      %>
    </p>
  </div>
</div>


