<div class="form-group">
  <label class="form-label" for="populated-address"><%= t('.address') %></label>
  <div itemprop="streetAddress1"><%= address.premises %></div>
  <div itemprop="streetstreet_address"><%= address.street_address %></div>
  <div itemprop="addressLocality"><%= address.locality %></div>
  <div itemprop="addressRegion"><%= address.city %></div>
  <div itemprop="postalCode"><%= address.postcode %></div>
</div>
