<div class="grid-row">
  <div class="column-two-thirds">

    <header class="text">
      <h1 class="form-title heading-large" id="groupLabel">
        <%= set_page_title t('.heading') %>
      </h1>
    </header>

    <p class="bold-small"><%= t('.para_text') %></p>
    <p><%= t('.para_text1') %></p>
    <p> <%= link_to 'Flood risk activities guidance', 'flood-risk-activities-environmental-permits_url' %> </p>

    <div class="contact">
      <h3 class="heading-medium">Contact the Environment Agency</h3>
      <%= link_to 'enquiries@environment-agency.gov.uk', 'mailto:enquiries@environment-agency.gov.uk_url' %>
      <br><%= t('.div_text11') %><br><%= t('.div_text12') %><br><%= t('.div_text13') %>
    </div>

  </div>
</div>
