<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t('.heading_h1') %>
    </h1>

    <p class="govuk-body"><%= t(".para1_text_html") %></p>

    <p class="govuk-body"><%= t('.para2_text') %></p>

    <h2 class="govuk-heading-m"><%= t('.heading_h2') %></h2>

    <ol class="govuk-list govuk-list--number">
      <li><%= t('.list_item1') %></li>
      <li><%= t('.list_item2') %></li>
      <li><%= t('.list_item3') %></li>
    </ol>

    <div class="govuk-inset-text">
      <p class="govuk-body"><%= t('.para3_text') %></p>
      <p class="govuk-body"><%= t('.para4_text') %></p>
    </div>

  </div>
</div>
