<div class="grid-row">
  <div class="column-two-thirds">

    <header class="text">
      <h1 class="form-title heading-large" id="groupLabel">
        <%= page_title t('.heading_h1') %>
      </h1>
    </header>

    <p class="text"><%= t(".para1_text").html_safe %></p>

    <p class="text"><%= t('.para2_text') %></p>

    <h2 class="heading-medium"><%= t('.heading_h2') %></h2>

    <ol class="list list-number text">
      <li><%= t('.list_item1') %></li>
      <li><%= t('.list_item2') %></li>
      <li><%= t('.list_item3') %></li>
    </ol>

    <div class="panel panel-border-wide">
      <p class="text"><%= t('.para3_text') %></p>
      <p class="text"><%= t('.para4_text') %></p>
    </div>

  </div>
</div>
