<div class="grid-row">
  <div class="column-two-thirds">

    <header class="text">
      <h1 class="form-title heading-large" id="groupLabel">
        <%= page_title t('.heading_h1') %>
      </h1>
    </header>

    <p class="lede text"><%= t('.para_text') %>
      <%= link_to 'personal information charter', t('.charter_url'), target: "_blank" %>
      <%= t('.para_text1') %>
    </p>

    <p class="text"><%= t('.para_text2') %></p>

    <p class="text"><%= t('.para_text3') %></p>

    <ul class="list-bullet text">
      <li><%= t('.list_item') %></li>
      <li><%= t('.list_item1') %></li>
      <li><%= t('.list_item2') %></li>
    </ul>

    <br/>

    <p class="text"><%= t('.para_text4') %></p>

    <ul class="list-bullet text">
      <li><%= t('.list_item3') %></li>
      <li><%= t('.list_item4') %></li>
      <li><%= t('.list_item5') %></li>
      <li><%= t('.list_item6') %></li>
      <li><%= t('.list_item7') %></li>
      <li><%= t('.list_item8') %></li>
    </ul>

    <br/>

    <p class="text"><%= t('.para_text5') %></p>

  </div>
</div>
