<% presenter = FloodRiskEngine::ApplicationVersionPagePresenter.new %>

<header>
  <h1 class="govuk-heading-l"><%= presenter.application_name %></h1>
</header>

<section>
  <p class="govuk-body">
    <label><%= t('.commit') %></label>
    <strong>
      <%= link_to(presenter.git_commit,
                  presenter.git_commit_url,
                  target: "_blank",
                  class: "btn-link") %>
    </strong>
  </p>
  <p class="govuk-body">
    <label><%= t('.render_time') %></label>
    <strong><%= l Time.zone.now %></strong>
  </p>
</section>
