
<p class="govuk-body">
  <%= t(".postcode.prefix") %>
  <br/>
  <span class="postcode govuk-!-font-weight-bold">
    <%= form.address.postcode %>
  </span>
  <%= link_to(
      t(
        ".postcode.change_button.text",
        hidden: content_tag(
          'span',
          t(".postcode.change_button.hidden"),
          class: "govuk-visually-hidden"
        )
      ).html_safe,
      change_postcode_path(
        form.enrollment,
        step_back_to_postcode: params[:step_back_to_postcode]
      )
    )
  %>
</p>
<legend class="govuk-visually-hidden">
  <%= t(".legend") %>
</legend>
<%=  f.govuk_text_field :premises,
      width: "three-quarters",
      label: {
        text: t(".premises.label")
      },
      hint: {
        text: t(".premises.hint")
      }
%>
<%=  f.govuk_text_field :street_address,
      width: "three-quarters",
      label: {
        text: t(".street_address")
      }
%>
<%=  f.govuk_text_field :locality,
      width: "three-quarters",
      label: {
        text: t(".locality")
      }
%>
<%=  f.govuk_text_field :city,
      width: "one-half",
      label: {
        text: t(".city")
      }
%>
<%= hidden_field_tag :step_back_to_postcode, params.fetch(:step_back_to_postcode, false) %>
<%= hidden_field_tag :target_step,  params.fetch(:target_step, nil) %>
<%= f.govuk_submit t("global.continue") %>
