<%= render "flood_risk_engine/enrollments/back_link", form: form %>

<div class="grid-row">
  <div class="column-two-thirds">

    <%= render(
          "flood_risk_engine/enrollments/header",
          title_text: t(".heading.default")
        )
    %>

    <%= form_for(
          form,
          as: :address,
          url: enrollment_address_path(form.enrollment, form.address),
          builder: GOVUKDesignSystemFormBuilder::FormBuilder,
          class: "form"
        ) do |f| %>

      <%= f.govuk_error_summary %>

      <%= render "form", f: f %>

    <% end %>
  </div>
</div>
