<%= link_to(
      "Back",
      enrollment_step_path(form.enrollment, form.enrollment.previous_step),
    ) if form.enrollment.can?(:go_back)
%>

<div class="grid-row">
  <div class="column-two-thirds">

    <%= render(
          "flood_risk_engine/enrollments/header",
          title_text: t(".heading.default")
        )
    %>
    <%= render "flood_risk_engine/enrollments/validation_errors", form: form %>

    <%= form_for(
          form,
          as: :address,
          url: enrollment_address_path(form.enrollment, form.model),
          class: "form"
        ) do |f| %>

      <%= render "form", f: f %>

    <% end %>
  </div>
</div>
