<% page_title t(".heading.default") %>

<%= render "flood_risk_engine/enrollments/back_link", form: form %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading.default") %></h1>

    <%= form_for form,
                 as: :address,
                 url: enrollment_addresses_path(form.enrollment),
                 method: :post,
                 builder: GOVUKDesignSystemFormBuilder::FormBuilder,
                 class: "form" do |f| %>

      <%= f.govuk_error_summary %>

      <%= render "form", f: f %>

      <% address_initial_attributes.each do |name, value|  %>
        <%= hidden_field_tag name, value %>
      <% end %>

    <% end %>
  </div>
</div>
