<h1 class="heading-large">
  What’s the registered address of the company?
</h1>

<p>
  <span class="postcode-prefix"><%= t(".post_code.prefix") %></span>
  <span class="visuallyhidden"><%= t(".post_code.separator") %></span>
  <span class="postcode">BS1 5AH</span>
  <a href="" class="change-postcode-button">
    <%=
      t(
        ".post_code.change_button.text",
        hidden: content_tag(
          'span',
          t(".post_code.change_button.hidden"),
          class: "visuallyhidden"
        )
      ).html_safe
    %>
  </a>
</p>

<fieldset>
  <legend class="visuallyhidden"><%= t(".legend") %></legend>

  <div class="form-group">
    <label class="form-label" for="premises"><%= t(".premises.label") %>
      <span class="form-hint"><%= t(".premises.hint") %></span>
    </label>
    <input type="text" class="form-control" id="premises" />
  </div>

  <div class="form-group">
    <label class="form-label" for="street_address"><%= t(".street_address") %></label>
    <input type="text" class="form-control" id="street_address" />
  </div>

  <div class="form-group">
    <label class="form-label" for="locality"><%= t(".locality") %></label>
    <input type="text" class="form-control" id="locality" />
  </div>

  <div class="form-group">
    <label class="form-label" for="town"><%= t(".town") %></label>
    <input type="text" class="form-control" id="town" />
  </div>

</fieldset>