<%= content_for :heading, t('.subject') %>

<p class="lead">
  <%= t('.please_wait') %>
</p>

<p class="panel">
  <%= t('.reference_number_heading', reference_number: @enrollment.reference_number) %>
</p>

<h2 class="border-top"><%= t('.exemption_heading') %></h2>
<p>
  <%= @exemption.summary %> <%= @exemption.code %>.
</p>

<h2 class="border-top">
  <%= t('.heading_1') %>
</h2>
<p>
  <%= t('.preamble_1a') %>
</p>
<p>
  <%= t('.preamble_1b') %>
</p>

<h3>
  <%= t('.heading_2') %>
</h3>
<p>
  <%= t('.preamble_2') %>
</p>

<h3>
  <%= t('.heading_3') %>
</h3>
<p>
  <%= t('.preamble_3_html') %>
</p>

<h2 class="border-top">
  <%= t('.contact_heading') %>
</h2>
<p>
  <%= t('.contact_email_html') %>
  <br /> <%= t('.contact_telephone_html') %>
  <br /> <%= t('.contact_minicom_html') %>
  <br /> <%= t('.contact_opening_hours') %>
</p>
