<%= render("flood_risk_engine/shared/back", back_path: back_declaration_forms_path(@declaration_form.token)) %>

<div class="text">
  <%= form_for(@declaration_form) do |f| %>
    <%= render("flood_risk_engine/shared/errors", object: @declaration_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <%= hidden_field_tag :token, @declaration_form.token %>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
