<%= render("flood_risk_engine/shared/back", back_path: back_declaration_forms_path(@declaration_form.token)) %>

<div class="text">
  <%= form_for(@declaration_form) do |f| %>
    <%= render("flood_risk_engine/shared/errors", object: @declaration_form) %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          <%= t(".heading") %>
        </h1>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">
              <%= t(".warning.heading") %>
            </span>
            <%= t(".warning.text") %>
          </strong>
        </div>
        <p class="govuk-body"><%= t(".confirmation.heading")  %></p>
        <ul class="govuk-list govuk-list--bullet">
          <li><%= t(".confirmation.list.one") %></li>
          <li><%= t(".confirmation.list.two") %></li>
        </ul>
        <h2 class="govuk-heading-m"><%= t(".use_of_info.header") %></h2>
        <p class="govuk-body"><%= t(".use_of_info.text") %></p>
        <p class="govuk-body">
          <%=
            t(
                ".privacy.text",
                link:
                    link_to(t(".privacy.link"), "/pages/privacy_notice", target: "_blank")
            ).html_safe
          %>
        </p>

        <%= f.govuk_submit t(".next_button") %>
      </div>
    </div>
  <% end %>
</div>
