<div class="text">
  <%= form_for(@partner_address_manual_form) do |f| %>
    <%= render("flood_risk_engine/shared/errors", object: @partner_address_manual_form) %>

    <h1 class="heading-large"><%= t(".heading") %></h1>

    <%= hidden_field_tag :token, @partner_address_manual_form.token %>

    <div class="form-group">
      <%= f.submit t(".next_button"), class: "button" %>
    </div>
  <% end %>
</div>
