<%= render("flood_risk_engine/shared/back", back_path: back_confirm_exemption_forms_path(@confirm_exemption_form.token)) %>

<%= form_for @confirm_exemption_form do |f| %>
  <%= render partial: "flood_risk_engine/shared/error_summary", locals: { f: f } %>

  <span class="govuk-visually-hidden"><%= t('.table_summary') %></span>

  <table class="govuk-table">
    <h1 class="govuk-heading-l">
      <%= t(".heading") %>
    </h1>

    <caption class="govuk-visually-hidden">
      <%= t(".heading") %>
    </caption>

    <tbody class="govuk-table__body">
      <% @confirm_exemption_form.transient_registration.exemptions.each do |exemption| %>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">
          <p><%= exemption.summary %></p>
        </td>
        <td scope="row" class="govuk-table__header">
          <p><%= exemption.code %></p>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          <p>
            <%=
              link_to(
                t(
                  ".remove_link.text",
                  hidden: content_tag(
                    'span',
                    t(
                      ".remove_link.hidden",
                      code: exemption.code
                    ),
                    class: "govuk-visually-hidden"
                  )
                ).html_safe,
              back_confirm_exemption_forms_path(@confirm_exemption_form.token)
            )
            %>
          </p>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= f.govuk_submit t(".next_button") %>
<% end %>
